.grid {
    border:2px black solid;
    padding:0;
    flex:1;
    margin: 50px;
    max-width:960px;
    /* display:flex;
    flex-direction: column; */
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

