.grid {
    border:2px black solid;
    width: 400px;
    height:400px;
    margin-top: 50px;
    font-size: 0;

}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cell {
    display: inline-block;
}